<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href ="../assets/css/poopstrap.css"> 
    <title>Login</title>
</head>
<body>
    <div class = "container">
        <div class = "navbar-navy">
            <ul>
                <li><a class = "hyperlink-dark" href = "#">Poopstrap</a></li>                
                <li><a class = "hyperlink-dark" href = "#">Home</a></li>
                <li><a class = "hyperlink-dark" href = "#">Create User</a></li>
                <li><a class = "hyperlink-dark" href = "#">Users</a></li>
                <li><a class = "hyperlink-dark" href = "#">Contact</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="card-dark-medium-center">
                <p class= "text-light-small">Okay so as long as we are testing this it's alright</p>
                <p class = "text-light-medium">Poopstrap is agreat tool for frontend</p>
                <p class = "text-success-medium">Green is success</p>
                <p class = "text-success-small">Green is eco friendly</p>
            </div>
            <div class="card-light-medium-center">
                <p class = "text-danger-medium">Roses are Red</p>
                <p class= "text-dark-small">Okay so as long as we are testing this it's alright</p>
                <p class = "text-dark-medium">Poopstrap is a great tool for frontend</p>
            </div>
            <div class="card-light-small-center">
                <p class = "text-danger-medium">Roses are Red</p>
                <p class= "text-dark-small">Okay so as long as we are testing this it's alright</p>
                <p class = "text-dark-medium">Poopstrap frontend</p>
            </div>
            <div class = "row-medium-center">
                <div class="card-dark-small">
                    <p class = "text-danger-medium">I am left aligned</p>
                    <p class= "text-light-small">I am being written by Pratyay</p>
                    <p class = "text-success-medium">Poopstrap was earlier called Noobstrap</p>
                </div>
                
                <div class="card-dark-small">
                    <p class = "text-danger-medium">I am left aligned</p>
                    <p class= "text-light-small">I am being written by Pratyay</p>
                    <p class = "text-success-medium">Poopstrap was earlier called Noobstrap</p>
                </div>
                <div class="card-light-medium">
                    <p class = "text-dark-medium">Hello this is Pratyay</p>
                </div>
            </div>    
        </div>
        <div class="footer-light">
            <p>Created using Poopstrap</p>
        </div>
    </div>
</body>
</html>