<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "../assets/css/poopstrap.css">
    <title>Form Template</title>
</head>
<body>
    <div class="container">
        <div class="navbar-dark">
            <ul>
                <li>
                    <a class = "hyperlink-dark" href="login.html">Home</a>
                </li>
                <li>
                    <a class = "hyperlink-dark" href="table.html">Profile</a>
                </li>
                <li>
                    <a class = "hyperlink-dark" href="#">Friends</a>
                </li>
                <li>
                    <a class = "hyperlink-dark" href="#">Chat</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="form-light-medium-left">
                <form action = "#" method = "GET">
                    <div class = "form-control-light">
                        <input type="text" class = "form-control-textbox-light" name="" id="" placeholder="Enter Enrollment Number">
                    </div>
                    <div class = "form-control-light">
                        <input type="password" class = "form-control-textbox-light" name="" id="" placeholder="Enter Password">
                    </div>
                    <div class = "form-control-light">
                        <input type="button" class = "form-control-btn-primary" name="" id="" value="Login">
                    </div>
                </form>
            </div>
            <div class="form-light-medium-center">
                <form action = "#" method = "GET">
                    <div class = "form-control-light">
                        <input type="text" class = "form-control-textbox-light" name="" id="" placeholder="Enter Username">
                    </div>
                    <div class = "form-control-light">
                        <input type="password" class = "form-control-textbox-light" name="" id="" placeholder="Enter Password">
                    </div>
                    <div class = "form-control-light">
                        <input type="button" class = "form-control-btn-success" name="" id="" value="Login">
                    </div>
                </form>
            </div>
            <div class="form-light-medium-right">
                <form action = "#" method = "GET">
                    <div class = "form-control-light">
                        <input type="text" class = "form-control-textbox-light" name="" id="" placeholder="Enter Date of Birth">
                    </div>
                    <div class = "form-control-light">
                        <input type="password" class = "form-control-textbox-light" name="" id="" placeholder="Enter Secret Code">
                    </div>
                    <div class = "form-control-light">
                        <input type="button" class = "form-control-btn-danger" name="" id="" value="Login">
                    </div>
                </form>
            </div>
            <div class="form-dark-medium-center">
                <form action = "#" method = "GET">
                    <div class = "form-control-light">
                        <input type="text" class = "form-control-textbox-dark" name="" id="" placeholder="Enter Date of Birth">
                    </div>
                    <div class = "form-control-light">
                        <input type="password" class = "form-control-textbox-dark" name="" id="" placeholder="Enter Secret Code">
                    </div>
                    <div class = "form-control-light">
                        <input type="button" class = "form-control-btn-success" name="" id="" value="Login">
                    </div>
                </form>
            </div>  
        </div>
        <div class="footer-dark">
            <div class="row-medium">
                <p class="text-light-small">Created by Pratyay Ganguli</p>
            </div>
        </div>    
    </div>
</body>
</html>