<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "../assets/css/poopstrap.css">
    <title>Form Template</title>
</head>
<body>
    <div class="container">
        <div class="navbar-dark">
            <ul>
                <li>
                    <a class = "hyperlink-dark" href="#">Home</a>
                </li>
                <li>
                    <a class = "hyperlink-dark" href="#">Profile</a>
                </li>
                <li>
                    <a class = "hyperlink-dark" href="#">Friends</a>
                </li>
                <li>
                    <a class = "hyperlink-dark" href="#">Chat</a>
                </li>
            </ul>
        </div>
        <div class="content">
              <div class="row-medium">
                  <table class = "table-dark-medium-center">
                    <tr class = "table-light-row">
                        <th class = "table-light-head">Roll Number</th>
                        <th class = "table-light-head">Name</th>
                        <th class = "table-light-head">Marks</th>
                        <th class = "table-light-head">Status</th>
                        <th class = "table-light-head">Action</th>
                    </tr>   
                    <tr class = table-light-row>
                        <td class = "table-dark-col">1</td>
                        <td class = "table-dark-col">Namesh</td>
                        <td class = "table-dark-col">233</td>
                        <td class = "table-dark-col">Active</td>
                        <td class = "table-dark-col">Edit</td>
                    </tr>
                    <tr class = table-dark-row>
                        <td class = "table-dark-col">2</td>
                        <td class = "table-dark-col">Rahul</td>
                        <td class = "table-dark-col">123</td>
                        <td class = "table-dark-col">Deactive</td>
                        <td class = "table-dark-col">Edit</td>
                    </tr>
                    <tr class = table-dark-row>
                        <td class = "table-dark-col">3</td>
                        <td class = "table-dark-col">Suraj</td>
                        <td class = "table-dark-col">110</td>
                        <td class = "table-dark-col">Active</td>
                        <td class = "table-dark-col">Edit</td>
                    </tr>
                  </table>
                  <table class = "table-light-medium-center">
                    <tr class = "table-light-row">
                        <th class = "table-light-head">Roll Number</th>
                        <th class = "table-light-head">Name</th>
                        <th class = "table-light-head">Marks</th>
                        <th class = "table-light-head">Status</th>
                        <th class = "table-light-head">Action</th>
                    </tr>
                    
                    <tr class = table-light-row>
                        <td class = "table-light-col">1</td>
                        <td class = "table-light-col">Namesh</td>
                        <td class = "table-light-col">233</td>
                        <td class = "table-light-col">Active</td>
                        <td class = "table-light-col">Edit</td>
                    </tr>
                    <tr class = table-light-row>
                        <td class = "table-light-col">2</td>
                        <td class = "table-light-col">Rahul</td>
                        <td class = "table-light-col">123</td>
                        <td class = "table-light-col">Deactive</td>
                        <td class = "table-light-col">Edit</td>
                    </tr>
                    <tr class = table-light-row>
                        <td class = "table-light-col">3</td>
                        <td class = "table-light-col">Suraj</td>
                        <td class = "table-light-col">110</td>
                        <td class = "table-light-col">Active</td>
                        <td class = "table-light-col">Edit</td>
                    </tr>
                  </table>
              </div>
        </div>
        <div class="footer-dark">
            <div class="row-medium">
                <p class="text-light-small">Created by Pratyay Ganguli</p>
            </div>
        </div>    
    </div>
</body>
</html>